flask
opencv-python-headless
numpy
scipy
Pillow
mediapipe>=0.10.0
certifi
python-dotenv
google-generativeai
crewai==0.28.8
langchain>=0.1.0,<0.2.0
langchain-nvidia-ai-endpoints
langchain-groq
flask-cors
psycopg2-binary
gunicorn